<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/landing.css">
<%- include('./partials/nav') %>

<main>

<div class="container">
  <h1>Welcome To Cityscape Social</h1>
</div>

</main>

<%- include('./partials/footer') %>
