<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/landing.css">
<%- include('./partials/nav') %>

<main>

<div class="container" style="height: 18rem;">
  <h1>Welcome To Cityscape Social</h1>
  <h4>Sign In To Get Started!</h4>
</div>

</main>

<%- include('./partials/footer') %>
