<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/landing.css">
<%- include('./partials/nav') %>

<main>

<% if (user) { %>
  <div class="container" style="height: 18rem;">
    <h1>Welcome To Cityscape Social,</h1>
    <h3><span style="color: grey;">a social blog for all things architecture and construction.</span></h3>
    <h4>Sign in via <img src="https://img.shields.io/badge/google-4285F4?style=for-the-badge&logo=google&logoColor=white"> above.</h4>
  </div>

</main>

<%- include('./partials/footer') %>
