
body {
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

button {
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
}

main {
  background-image: url(https://images.unsplash.com/photo-1498036882173-b41c28a8ba34?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80);
}

.google-logout {
  background-color: #6c757d;
  color: white;
  border-radius: 8px;
}

main {
  text-align: center;
  color: black;
}