
body {
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  text-align: center;
}

html {
  background-image: url('/../images/red-painted-wall.jpg');
}

button {
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
}


.google-logout {
  background-color: #e04955;
  color: white;
  border-radius: 8px;
}

.app-name-container {
  display: inline-block;
  text-align: center;
  color: white;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid;
  background-color: #eff2f5;
}

div.container {
  display: flex;
}