/* table {
  font-size: 20px;
}

body {
  background-color: white;
  color: black;
}

div {
  display: flex;
  flex-direction: row;
  margin: 16px;
  padding: 16px;
  border: 2px solid black;
  border-radius: 16px;
  box-shadow: 0 0 15px black;
  width: 1500px;
  content: inherit;
} */
