.card {
  text-align: center;
  margin: auto;
  margin-top: 64px;
  margin-bottom: 10%;
  padding: 8px;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 0 0 16px #e04955;
  background-color: #eff2f5;
}
