<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/posts/new.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/posts" method="POST">
    <article>
      <label for="title-input">Title </label>
      <input type="text" name="title" id="title-input">
      <label for="textarea-input">Description </label>
      <input type="text" name="textarea" id="textarea-input">
    </article>
    <button type="submit">Submit</button>
</main>

<%- include('../partials/footer') %>